<div class="createCard">
  <form action="/trainees/add" method="POST">
    <input type="hidden" id="projectDate" name="date" />
    <div class="row justify-content-center mt-4">
      <div class="col-md-6">
        <div class="card card-secondary">
          <div class="card-header cardHeader">
            <h3 class="card-title">Project</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="inputName2">Project Name</label>
              <input
                type="text"
                id="inputName2"
                class="form-control"
                name="name"
                required
              />
            </div>
            <div class="form-group">
              <label for="inputDescription1">Project Description</label>
              <textarea
                id="inputDescription1"
                class="form-control"
                rows="4"
                required
                name="description"
              ></textarea>
            </div>
            <div class="form-group">
              <label for="inputStatusZ">Status</label>
              <select
                id="inputStatusZ"
                class="form-control customSelect custom-select"
                name="status"
              >
                <option value="On progress">On progress</option>
                <option value="Canceled">Canceled</option>
                <option value="Success">Success</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputProjectLeader">Project Leader</label>
              <select
                id="selectGroupR1"
                class="form-control select2"
                name="leader"
              >
                {{#each workers}}
                  <option
                    value="{{fullname}}"
                    data-id="{{_id}}"
                  >{{fullname}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group">
              <label for="inputProjectDeadline">Project deadline</label>
              <input
                type="date"
                id="inputProjectDeadline"
                class="form-control"
                pattern="[0-9]{4}[0-9]{2}[0-9]{2}"
                name="deadline"
                required
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-secondary">
          <div class="card-header cardHeader">
            <h3 class="card-title">Trainee</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="inputTelegram">Telegram group</label>
              <input
                type="text"
                id="inputTelegram"
                class="form-control"
                name="telegram"
                required
              />
            </div>
            <button
              type="button"
              class="btn btn-primary addWorker1"
              id="addWorker"
            >Add trainee</button>
            <div class="cardBody">

            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <div class="row mt-5 pb-5">
      <div class="col-12 d-flex justify-content-center">
        <input
          style="width: 100%;"
          type="submit"
          value="Create new Porject"
          class="btn btn-success float-right createBtn"
        />
      </div>
    </div>
  </form>
</div>