<nav
  class="main-header navbar navbar-expand navbar-white navbar-light d-flex justify-content-between"
  style="box-shadow: 0 0px 10px #e2e2e2;"
>
  <!-- Left navbar links -->
  <ul class="navbar-nav navbarNav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i
          class="fal fa-bars navBars"
        ></i></a>
    </li>
    <li class="nav-item navItem d-none d-sm-inline-block">
      <i
        class="fal fa-calendar-alt"
        style="font-size: 22px; margin: 0 10px;color: #082032;opacity: .9;"
      ></i>
      <span
        style="font-size: 20px;color:#082032;opacity: .9;"
        class="logoDate font-weight-light"
      ></span>
    </li>
    <li class="nav-item navItem d-none d-sm-inline-block">
      <i
        class="fal fa-clock"
        style="font-size: 22px; margin: 0 10px;color: #082032;opacity: .9;"
      ></i>
      <span
        style="font-size: 20px;  color: #082032; opacity: .9;"
        class="logoTime font-weight-light"
      ></span>
    </li>
  </ul>
  <ul class="navbar-nav navbarNav">
    <div class="user-panel d-flex">
      <div class="image">
        <img
          src="/images/{{user.avatar}}"
          id="admin_img"
          class="img-circle"
          alt="User Image"
        />
      </div>
      <a href="/person/{{user._id}}" class="info">
        <p class="d-block mb-0 name_user" id="admin_name">{{user.fullname}}</p>
      </a>
    </div>
  </ul>

</nav>