@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.sidebar-primary {
  background-color: #252b3b;
}

.user-panel {
  padding: 8px 10px;
}

.user-panel img {
  width: 100%;
  height: 100%;
}

.user-panel .image {
  padding: 0;
  width: 2.1rem;
  display: block;
}

.brandText {
  width: 100% !important;
  display: inline-flex !important;
  justify-content: center !important;
  border-bottom: 1px solid #2e3548;
  padding: 0.7025rem 0.5rem;
}

.brandLink {
  display: inline-flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.brandLink i {
  font-size: 25px;
  margin-top: 7px !important;
  margin-left: 15px !important;
  margin-right: 12px !important;
  line-height: 0 !important;
}

.brandItem {
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #4b545c;
}

.brandLogo img {
  margin-bottom: 6px;
}

.userProfile {
  margin-top: 0 !important;
}

.change_home {
  width: 100%;
  height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change_home h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 70px;
}

.asideMenu .nav-item .nav-link {
  color: #cfd3ce;
  font-size: 15px;
  opacity: 0.7;
  transition: 0.2s;
}

.asideMenu .nav-item:hover .nav-link {
  opacity: 0.9;
  color: #fff;
}

.asideMenu .nav-item .nav-link i {
  font-size: 16px;
  width: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.navbarNav .navBars {
  font-size: 22px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.sidebarNav {
  height: 97%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.worker_ava {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 100%;
  overflow: hidden;
}

.worker__img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.projectContent {
  padding: 0 1.5rem !important;
}

.projectCard {
  box-shadow: 0 0px 10px #e2e2e2;
  border-radius: 0;
}

.projectCard .projectItem,
.projectCard .cardHeader {
  background: #f9f9f9 !important;
}

.projectCard .projectTbody {
  border-top: 1px solid #dee2e6;
}

.projectItem th {
  border-bottom: 1px solid #dee2e6 !important;
  color: #374045;
  opacity: 0.75;
  font-weight: 500;
}

.projectCard .projectTbody td,
th {
  border-top: none !important;
}

.projectCard .projectTbody .progressBar {
  background: #787a91;
}

.projectCard .projectTbody .badgesuccess {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #17b794;
  border-radius: 50%;
  margin-bottom: 10px;
}
.projectCard .projectTbody .badgeprimary {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #185adb;
  opacity: 0.9;
  border-radius: 50%;
  margin-bottom: 10px;
}
.projectCard .projectTbody .badgedanger {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ff2626;
  border-radius: 50%;
  margin-bottom: 10px;
}

.projectCard .projectTbody .projectDeadlineText {
  color: #bb2205;
  opacity: 0.6;
}

.projectCard .projectTbody .projectIcons {
  margin-right: 17px;
  font-size: 17px;
  color: #082032;
  opacity: 0.9;
}

.projectCard .projectTbody .projectIcons.deleteIcon {
  cursor: pointer;
}

.projectCard .projectTbody .projectTitle {
  color: #423f3e;
  opacity: 0.9;
}

.projectCard .cardHeader {
  padding-bottom: 0;
}

/* create projects */
.createCard .cardHeader {
  border-radius: 0;
  background: #9ba4b4 !important;
  opacity: 0.95;
}

.createCard .card {
  border-radius: 0;
  background: #f9f9f9;
  box-shadow: 0 0px 10px #e3e3e3;
}

.createCard .card .form-control {
  background: #fff;
  border-radius: 0;
  border: none;
  box-shadow: 0 0px 7px #e2e2e2;
}

.createCard .card .workerBlock {
  border: none;
  border-radius: 0;
}

.createCard .card .addWorker {
  border-radius: 0;
  border: none;
  background: #9ba4b4 !important;
}

.createCard .card textarea {
  resize: none;
}

.createCard .card label {
  font-weight: 500;
  color: #646464;
}

.createCard .createBtn {
  padding: 10px;
  border-radius: 0;
  border: none;
  background: #9ba4b4 !important;
}
