.sidebar-primary {
    background-color: #252b3b;
}

.user-panel img {
    width: 100%;
    height: 100%;
}

.user-panel .image {
    padding: 0;
    width: 2.1rem;
    display: block;
}

.brand-text {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #2e3548;
    padding: 0.7025rem .5rem;
}

.userProfile {
    margin-top: 0 !important;
}