.auth-buttons {
  width: 100% !important;
}

nav.nav-pills {
  width: 200px;
}

a {
  text-decoration: none !important;
}

.row {
  --bs-gutter-x: 1rem !important;
}

.btnEdit {
  width: auto !important;
}

.btnOpen {
  width: 100%;
}

.errorAlert {
  width: 100%;
  background: red;
  opacity: 0.5;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 4px;
}

.workerBlock {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 transparent;
  padding: 10px 10px 10px 25px;
  margin: 20px 0;
}

.btn-sm {
  margin-bottom: 0 !important;
}

.text_list {
  font-size: 19px;
}

.user-block {
  display: flex;
  align-items: center;
}

.crossRow {
  padding-right: 15px;
}

svg.removeWorker {
  font-size: 13px;
}

.workerImg {
  width: 63px !important;
  height: 63px !important;
}

/* =============================Workers styles =================================== */

.action__icons a {
  text-decoration: none;
}

.worker__edit svg {
  color: #0b5ed7;
  font-size: 24px;
}

.worker__remove svg {
  color: red;
  font-size: 24px;
}

.card-header {
  position: relative;
  width: 100%;
}

.action__icons {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.worker__fullname {
  margin-top: 2rem;
}

.about_text {
  max-width: 300px;
}

.worker_avatar {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
}

.img-fluid {
  height: 100% !important;
  width: auto;
  transform: scale(1.1);
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.view_avatar {
  max-width: 100%;
  height: auto;
}

.card_header {
  background-color: rgba(0, 0, 0, 0.03) !important;
}

/* clock============================ */
#hour,
#min,
#sec,
#day {
  float: left;
  padding: 5px;
  padding-top: 0;
  width: 25px;
  height: auto;
  position: relative;
  display: block;
}

.clockText {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
  float: left;
  color: #6c757d !important;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

#sec1,
#min1,
#hour1,
#day1 {
  margin-left: 8px;
}

#timer_wrap {
  border-radius: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
}

#clock {
  height: auto;
  background: url(clock.jpg) left top no-repeat;
  padding: 0px 10px 0px 10px;
  position: absolute;
}

#razd {
  float: left;
  color: #6c757d !important;
  font-weight: bold;
  font-size: 16px;
  margin: 0px 0px 0px 2px;
  padding-bottom: 2px;
}

#stop {
  margin: 0px;
  padding: 0px;
  width: 100%;
  float: left;
  color: #6c757d !important;
  font-size: 16px;
  font-weight: bold;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

/* clock============================ */










/* Narxlar bo'limi  css */
* {
  text-decoration: none;

}

.home {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 20px;


}

.grenn .user {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: darkgoldenrod;
  margin-top: 20px;
  margin-bottom: 0;
}

.grenn {
  margin-top: 80px;
  margin-bottom: 100px;
  height: 100px;
  width: 100%;
  background-color: darkolivegreen;
  text-align: center;
}

.price {
  font-size: 18px;
  margin-right: 10px;
  margin-bottom: 0;
}

.black {
  color: black !important;
}



.bug {
  margin-bottom: 30px;
}





.collapse {
  justify-content: flex-end;
}

.bi {
  margin-left: 100px;
}

.btn-primary {
  margin-bottom: 10px;
}

.card-header {
  background: whitesmoke !important;
  border-bottom: none !important;
}

.card-title {
  color: black !important;
}

.collapsed {
  color: black !important;
}

.card-t {
  border: 0.3px solid darkgrey !important;
  margin-bottom: 20px;
  border-radius: 4px;
}

.card {
  background: transparent !important;
  border: none !important;
}

svg {
  margin-right: 10px;
}

.fa-align-justify {
  color: darkgrey !important;
  margin-left: 10px;

}

.delete {
  color: red !important;
  margin-right: 10px;
}

.modal-body {
  font-size: 22px;
}

ul {
  padding: 0;
  margin: 0;
  text-align: start;
}

.text_box {
  position: relative;
}


.inp_text {
  border: none;
  width: 100% !important;
  padding: 10px;

}

.inp_text:focus {
  outline: none;
}

.form-control {
  width: 90% !important;
}

.box_input {
  height: calc(2.25rem + 2px);
  width: 90% !important;

}

.enter_inp {
  left: 90%;
  position: absolute;
  margin-bottom: 0 !important;
  margin-left: 8px;
}




/* registration ==================================== */

.register-worker1 {
  width: 100%;
  padding-top: 20px;
}







/* ====================================================================== salary page */
.data {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.salary-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.salary-card .data {
  display: flex;
  justify-content: space-around;
}

.data_old {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.data_new {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.name {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 500;
  text-transform: capitalize;
}

.price {
  font-size: 18px;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.numbers {
  text-align: start;
  font-weight: 500;
  font-size: 18px;
}

.tr_num {
  font-size: 18px;
}

.customSelect {
  display: block !important;
}